<div class="container">
    <img src="/assets/img/A1 building Third floor.png" alt="">
</div>
<br>
<div class="p-3 mb-2 bg-dark text-white"></div>
<div class="container"><img src="/assets/img/FirstfloorPlan.png" alt=""></div>

<br><div class="p-3 mb-2 bg-dark text-white"></div>
<div class="container"><img src="/assets/img/A1buildSecondFloor.png" alt=""></div>




<!-- <div class="container" *ngIf="searchText === ' ' || course.Room.toLowerCase().includes(searchText)">

<div class="Room" *ngFor="let Room of course">
    <h1 class="r1">{{course.Room}}</h1>
    <h1 class="r1">{{course.Room}}</h1>
    <h1 class="r1">{{course.Room}}</h1>
    <h1 class="r1">{{course.Room}}</h1>
    <h1 class="r1">{{course.Room}}</h1>
</div>    


</div> -->

